[Unit]
Description=Simple CGI Server
After=nss-user-lookup.target

[Service]
ExecStart=/usr/sbin/fcgiwrap
User=cgi
Group=cgi

[Install]
Also=fcgiwrap.socket
