[Unit]
Description=OpenSSH Daemon
After=network.target

[Service]
User=admin
ExecStart=/usr/bin/sshd -D -f /home/admin/sshd/sshd_config -E /home/admin/sshd/log
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

# This service file runs an SSH daemon that forks for each incoming connection.
# If you prefer to spawn on-demand daemons, use sshd.socket and sshd@.service.
